body {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}


.text-color--verde {
  color: $verde;
}
.text-color--gris {
  color: $gris;
}

.btn {
  &-primary {
    background-color: $verde;
    border: 0;
    border-radius: .4rem;
    transition: all 250ms ease;

    &:hover {
      background-color: rgba($verde, .8);


    }
  }
}
