body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;

  @include xxs-device {
    margin-top: 8.3rem;
  }

  @include sm-device {
    margin-top: 6.5rem;
  }
}

.text-color--verde {
  color: $verde;
}

.text-color--gris {
  color: $gris;
}

.btn {
  &-primary {
    background-color: $verde;
    border: 0;
    border-radius: .4rem;
    transition: all 250ms ease;

    &:hover {
      background-color: rgba($verde, .8);
    }

    &:active {
      background-color: rgba($verde, .5) !important;
    }

    &:focus {
      background-color: $verde-dark;
    }
  }
}
