.hero {
  background: url('../images/proyecto.jpg') no-repeat center;
  position: relative;

  @include xxs-device {
    background-size: cover;
    height: 90vh;
  }

  @include sm-device {
    height: 91.2vh;
  }

  &__device {
    bottom: 0;
    left: 0;
    position: absolute;

    @include xxs-device {
      transform: scale(.6);
      transform-origin: left bottom;
    }

    @include sm-device {
      transform: scale(1);
    }
  }

  &__logo {

    @include xxs-device {
      margin: 3rem auto;
    }

    @include sm-device {
      display: block;
      margin: 6rem auto;
    }

    @include md-device {
      margin: 6rem auto;
    }

    &__headline {
      text-shadow: 0 0 .3rem rgba($negro, .4);

      @include xxs-device {
        font-size: 2rem;
      }
    }
  }

  &__form {
    background: rgba($blanco, .8);
    border-radius: .4rem;
    margin: 0 auto;
    max-width: 36rem;
    padding: 2rem 3rem;

    legend {
      border: 0;
      color: $verde;
      font-size: 2.4rem;
      font-weight: 300;
      text-align: center;
    }

    input {
      border-radius: .3rem;
      font-size: 1.6rem;
      min-height: 4.4rem;
    }

    textarea {
      border-radius: .3rem;
      font-size: 1.6rem;
    }

    .btn {
      background: $verde;
      border: 0;
      border-radius: .4rem;
      font-weight: bold;

      &:active {
        background: rgba($verde, .8);
      }
    }
    @include xxs-device {
      display: none;
      margin-bottom: 4rem;
    }
    @include sm-device {
      display: block;
      margin: 6rem auto;
    }
    @include md-device {
      margin: 6rem auto;
    }

    .form-group {
      label {
        &.error {
          color: $verde;
        }
      }
    }
  }
}
