.section {
  @include xxs-device {
    padding: 3rem 0;
  }
  @include sm-device {
    padding: 6rem 0;
  }

  &__intro {
    background: url('../images/interior.jpg') no-repeat center;

    @include xxs-device {
      background-position: center bottom;
      background-size: cover;
    }

    @include sm-device {
      min-height: 66rem;
    }

    &__title {
      color: $blanco;
      text-align: center;

      @include xxs-device {
        font-size: 1.6rem;
      }

      @include sm-device {
        font-size: 2rem;
      }

      @include md-device {
        font-size: 2rem;
      }
    }

    &__text {
      color: $blanco;

      @include xxs-device {
        font-size: 1.6rem;
      }
      
      @include sm-device {
        font-size: 2rem;
      }

      @include md-device {
        font-size: 2rem;
      }
    }
  }
}
